<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phonebook Alpha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class = 'container'>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'home'%}">Phone book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'home'%}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'add'%}">Add</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      <div class="card">
        <div class="card_body">
          <h5 class="card_title">Search</h5>
          <p class="card_text">
            <div class="row">
              <div class="col-6">
                <form action="" method="get">
                  <div class="form-group form-row">
                    <div class="col-10">
                      <input type="text" class="form-control" name="search_info" placeholder="Search by name">
                      <input type="hidden" name="search_by" value="name">
                    </div>
                    <div class="col-2">
                      <button type="submit" class="btn btn-success"> Search </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
              <div class="col-6">
                <form action="" method="get">
                  <div class="form-group form-row">
                    <div class="col-10">
                      <input type="text" class="form-control" name="search_info" placeholder="Search by phone">
                      <input type="hidden" name="search_by" value="phone">
                    </div>
                    <div class="col-2">
                      <button type="submit" class="btn btn-success"> Search </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
      </div>

      <div class="card">
        <div class="card_body">
        <h5 class="card_title">Phones</h5>
        <h6 class="card_subtitle">{{ search_message }}</h6>
        <p class="card_text">
          <table class="table">
            <thead>
              <tr>
                <th scope='col'>#</th>
                <th scope='col'>Number</th>
                <th scope='col'>Name</th>
                <th scope='col'>Actions</th>
              </tr>
            </thead>
            <tbody>
             {% for person in person %}
              <tr>
                <th scope="row">{{ person.pk }}</th>
                <th>{{ person.all_phones_row }}
                </th>
                <th>{{ person.name }}</th>
                <th>
                  <a href="{% url 'delete' person.pk %}"class="btn btn-sm btn-danger">Delete</a>
                  <a href="{% url 'update' person.pk %}"class="btn btn-sm btn-success">Update</a>
                </th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>